* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    position: relative;
    display: flex;
    width: 94vw;
    height: 94vh;
}

.left {
    position: relative;
    height: 100%;
    width: 60%;
    background: #fcc60c;
    border-radius: 20px 0 0 20px;
    padding: 50px;
}

.right {
    position: relative;
    height: 100%;
    width: 40%;
    background: #fbe9b5;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 35px;
}

.logo {
    position: absolute;
    top: 15px;
    left: 30px;
    height: auto;
}

.content {
    position: absolute;
    top: 25%;
    left: 8%;
}

.title {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.name {
    font-size: 120px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}

.details {
    font-size: 15px;
    line-height: 1.65;
    margin-bottom: 25px;
    max-width: 340px;
    color: rgba(0, 0, 0, 0.8);
}

.date {
    font-size: 15px;
    font-weight: 600;
}

.ball {
    position: absolute;
    bottom: -8px;
    left: 30px;
    opacity: 0.4;
}

.pikachu {
    position: absolute;
    left: 64%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.menu {
    background: none;
    border: none;
    font-size: 40px;
}

.dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
    top: 40%;
}

.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fcc60c;
}

#black-dot {
    height: 12px;
    width: 12px;
    background: black;
}